.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.gameboard {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 10px;
}

.boardDivisions {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    text-align: center;
    color: azure;
    font-size: 50px;
}